<!-- [ Main Content ] start -->
<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="User Management">
        <div class="row mb-4">
          <div class="col-md-8">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search users..." 
                     [(ngModel)]="searchTerm" (ngModelChange)="filterUsers()">
              <button class="btn btn-outline-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-md-4 text-end">
            <button class="btn btn-primary" (click)="openAddUserModal()">
              <i class="fa fa-plus"></i> Add New User
            </button>
          </div>
        </div>
  
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>Role</th>
                <th>Email</th>
                <th>Room</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of filteredUsers">
                <td>{{user.id ?? 'N/A'}}</td>
                <td>{{user.username ?? 'N/A'}}</td>
                <td>{{user.firstName ?? 'N/A'}}</td>
                <td>{{user.lastName ?? 'N/A'}}</td>
                <td>{{user.company ?? 'N/A'}}</td>
                <td>{{user.role}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roomName ?? 'N/A'}}</td>
                <td>
                  <button class="btn btn-sm btn-primary me-1" 
                          (click)="openEditUserModal(user)">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/></svg>
                  </button>
                  <button class="btn btn-sm btn-danger" 
                          (click)="deleteUser(user.id)">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">
            {{isEditMode ? 'Edit User' : 'Add User'}}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #userForm="ngForm" (ngSubmit)="saveUser()">
            <div class="mb-3">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" 
                     [(ngModel)]="selectedUser.firstName" name="firstName">
            </div>
            <div class="mb-3">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" 
                     [(ngModel)]="selectedUser.lastName" name="lastName">
            </div>
            <div class="mb-3">
              <label class="form-label">Company</label>
              <input type="text" class="form-control" 
                     [(ngModel)]="selectedUser.company" name="company">
            </div>
            <div class="mb-3">
              <label class="form-label">Role</label>
              <select class="form-select" 
                      [(ngModel)]="selectedUser.role" name="role" required>
                <option value="user">User</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <div class="mb-3">
              <label class="form-label">Email</label>
              <input type="email" class="form-control" 
                     [(ngModel)]="selectedUser.email" name="email" required>
            </div>
            <div class="mb-3" *ngIf="!isEditMode">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" 
                     [(ngModel)]="selectedUser.hashed_password" name="hashed_password" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" 
                  (click)="saveUser()" [disabled]="!userForm.valid">Save</button>
        </div>
      </div>
    </div>
  </div>